.content-container .content-box#about .content-inner-box #user-data {
  width: 100%;
  padding: 1rem 0;
  padding-top: 2rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.content-container
  .content-box#about
  .content-inner-box
  #user-data
  div.user-image,
.content-container
  .content-box#about
  .content-inner-box
  #user-data
  div.data-user {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container .content-box#about .content-inner-box #user-data .user-image {
  width: 50% !important;
  /* height: 100% !important; */
  display: flex;
  justify-content: center;
}

.content-container .content-box#about .content-inner-box #user-data .user-image .img {
  width: 50%;
  aspect-ratio: 1/1;

  border: 5px solid #fe6e6f;
  border-radius: 100%;

  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.content-container .content-box#about .content-inner-box #user-data .data-user {
  width: 100%;
  height: 100%;

  flex-grow: 1;

  flex-direction: column;
  justify-content: start !important;
  align-items: start !important;
}

.content-container .content-box#about .content-inner-box #user-data .data-user * {
  text-align: left !important;
}

.content-container .content-box#about .content-inner-box #user-data .data-user p.subText {
  opacity: .6;
  font-size: 15px;
}

.content-container .content-box#about .content-inner-box #user-data .data-user p.desp {
  margin-top: .5rem;
}

.content-container .content-box#about .content-inner-box #user-data .data-user .detailing {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.content-container .content-box#about .content-inner-box #user-data .data-user .detailing .floor-container {
  width: 25%;
  background: rgba(0, 0, 0, 0.6);
  color: whitesmoke;

  padding: .5rem;
  border: 2px solid #2e2f2f;
  border-radius: 1rem;
}

.content-container .content-box#about .content-inner-box #user-data .data-user .detailing .floor-container .floor {
  opacity: .6;
}

.content-container .content-box#about .content-inner-box #user-data .data-user .detailing .floor-container .value {
  font-size: 18px;
  font-weight: bold;
}