.content-container .content-box#edu .content-inner-box #user-edu {
  width: 100%;
  margin-top: 2rem;

  display: grid;
  grid-template-columns: repeat(3, 18rem);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: dense;

  
  justify-content: center;
  justify-items: stretch;
  align-items: stretch;

  grid-gap: 1rem;
}

.content-container
  .content-box#edu
  .content-inner-box
  #user-edu
  .edu-container {
  width: 100%;

  background: linear-gradient(45deg, transparent, rgba(0, 0, 0, 0.2));
  color: whitesmoke;
  border-radius: 8px;
  border: 1px solid rgba(245, 245, 245, 0.4);
  border-left: 0 !important;
  border-bottom: 0 !important;

  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container
  .content-box#edu
  .content-inner-box
  #user-edu
  .edu-container
  p.grade {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  /* height: 100%; */
  padding: 0.5rem 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.content-container
  .content-box#edu
  .content-inner-box
  #user-edu
  .edu-container
  p.year {
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  /* height: 100%; */
  padding: 0.5rem 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content-container
  .content-box#edu
  .content-inner-box
  #user-edu
  .edu-container
  p.school-class {
  width: 100%;
  /* height: 100%; */
  padding: 0.5rem 0;
}

.content-container
  .content-box#edu
  .content-inner-box
  #user-edu
  .edu-container
  h1.school {
  flex-grow: 1;
  text-decoration: none;
  font-size: 22px;
  padding: 1rem 0.5rem;
}
