
.content-container .content-box#stats .content-inner-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-container .content-box#stats .content-inner-box #tech-stats-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
  gap: .5rem;
}

.content-container .content-box#stats .content-inner-box a {
  width: 70px;
  height: 70px;
  text-decoration: none;
  border-radius: 100%;
  border: 2px solid #2e2f2f;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.content-container .content-box#stats .content-inner-box a:hover {
  opacity: .4;
  transform: scale(.95);
}