.footer {
  width: 100%;
  padding: 1rem 0;

  text-align: center;

  background: linear-gradient(0deg, rgba(245, 245, 245, 0.2), transparent);
  background-size: 300% 300%;
  background-position: 250%;
  color: whitesmoke;
}

.footer a {
  color: whitesmoke;
}

.footer a:hover {
  opacity: 0.4;
  text-decoration: none;
}
