.heading-container {
  width: 100%;
  height: 100dvh;

  position: fixed;
  top: 0;
  left: 0;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.heading-container .overlay {
  width: 100%;
  height: 100dvh;

  backdrop-filter: blur(0.2rem);

  background: rgba(46, 47, 47, 0.6);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}

.heading-container .overlay.title {
  width: 100%;
  height: 100dvh;

  backdrop-filter: blur(0) !important;
  background: rgba(45, 45, 45, 0.6);
  /* background: url("/src/img/title.webp"); */

  color: whitesmoke;

  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;

  flex-direction: column !important;
  gap: 1rem;
}

.heading-container .overlay.title .text-container {
  width: 100%;
  height: 60dvh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.heading-container .overlay.title .text-container .cover {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-container .overlay.title .text-container .cover div.block {
  height: 10vh;
  width: 10vh;
}

.heading-container .overlay.title .text-container .cover div.pic {
  width: 10vw;
  height: 50vh;

  padding: 0 !important;
  margin: 0 !important;

  background: url("/src/img/title.webp");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  border-radius: 0.5rem;
  border: 2px solid whitesmoke;

  transition: all 0.5s;
}

.heading-container .overlay.title .info-box * {
  margin: 0;
  padding: 0.5rem 0;
}

.heading-container .overlay.title .info-box p {
  padding: 0.5rem 1rem;
}

@media only screen and (max-width: 600px) {
  .heading-container .overlay.title .text-container {
    height: 35vh;
    flex-direction: column;
  }

  .heading-container .overlay.title .text-container .cover {
    flex-direction: row;

    width: 100%;
    height: 10vh;
  }

  .heading-container .overlay.title .text-container .cover div.pic {
    width: 50vw !important;
    height: 10vh !important;
  }
}
